
<!DOCTYPE HTML>

<html>
	<head>
		<title>NewsFinder</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<header id="header" class="container">

						<!-- Logo -->
							<div id="logo">
								<h1><a href="index.html">NewsFinder</a></h1>
								<span>All Day / All News</span>
							</div>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li>{{#if isAuthorized}}
     <div class="nav nav-css">
        <div class="nav_link">
          <a class="nav_link_item" href="/registration">Зарегистрироваться</a>
        </div>
        <li><div class="nav_link">
          <a class="nav_link_item" href="/login">Войти</a>
        </div></li>
<li>
       {{else}}</li>
									
									<li> <div class="nav_link">
          <a class="nav_link_item" href="/logout">Выйти</a>
        </div>
       {{/if}}</li>
								</ul>
							</nav>

					</header>
			</div>
<!-- Features !!!!!!!1-->
				<div id="banner-wrapper">
					<div id="banner" class="box container">
						<div class="row">
							<div class="col-7 col-12-medium">
								<h2>Новостной портал NewsFinder</h2><br>
								<p>Хорошие новости. Это твои новости.</p>
							</div>
							<div class="col-5 col-12-medium">
								<ul>
								{{{body}}}
								</ul>
							</div>
						</div>
					</div>
				</div>
			<!-- Features -->
				<div id="features-wrapper">
					<div class="container">
                <section class="box feature">
							<div class="innner"><h2>Главные новости к этому часу</h2></div>
									</section>
						<div class="row">
							<div class="col-4 col-12-medium">

								<!-- Box -->
									<section class="box feature">
										<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
										<div class="inner">
											 <script language="JavaScript" src="http://feed2js.org//feed2js.php?src=https%3A%2F%2Flenta.ru%2Frss%2Fnews&desc=1&utf=y"  
 charset="UTF-8" type="text/javascript"></script>
<noscript>
<a href="http://feed2js.org//feed2js.php?src=https%3A%2F%2Flenta.ru%2Frss%2Fnews&desc=1&utf=y&html=y">View RSS feed</a>
</noscript>
										</div>
									</section>

							</div>
							<div class="col-4 col-12-medium">

								<!-- Box -->
									<section class="box feature">
										<a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
										<div class="inner">
									<script language="JavaScript" src="http://feed2js.org//feed2js.php?src=http%3A%2F%2Fstatic.feed.rbc.ru%2Frbc%2Finternal%2Frss.rbc.ru%2Frbc.ru%2Fnews.rss&desc=1&utf=y"  
charset="UTF-8" type="text/javascript"></script>
<noscript>
<a href="http://feed2js.org//feed2js.php?src=http%3A%2F%2Fstatic.feed.rbc.ru%2Frbc%2Finternal%2Frss.rbc.ru%2Frbc.ru%2Fnews.rss&desc=1&utf=y&html=y">View RSS feed</a>
</noscript>
										</div>
									</section>

							</div>
							<div class="col-4 col-12-medium">

								<!-- Box -->
									<section class="box feature">
										<a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
										<div class="inner">
									<script language="JavaScript" src="http://feed2js.org//feed2js.php?src=https%3A%2F%2Fria.ru%2Fexport%2Frss2%2Farchive%2Findex.xml&desc=1&utf=y"  
charset="UTF-8" type="text/javascript"></script>
<noscript>
<a href="http://feed2js.org//feed2js.php?src=https%3A%2F%2Fria.ru%2Fexport%2Frss2%2Farchive%2Findex.xml&desc=1&utf=y&html=y">View RSS feed</a>
</noscript>
										</div>
									</section>

							</div>
						</div>
					</div>
				</div>

			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">
						<div class="row gtr-200">
							<div class="col-4 col-12-medium">

							</div>
						
						</div>
					</div>
				</div>

		
				</div>

			</div>

		<!-- Scripts -->

			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
      <script defer src="/js/client.js"></script>

	</body>
</html>
