<form id="formWord" method="POST" action="/" class="container mt-3">
  <div class=" form-floating mb-3">
    <input type="text" class="button alt large icon solid fa-question-circle" id="good" placeholder="Искать" name="goodWord">
    
  </div>
  <div class="form-floating mb-3">
    <input type="ext" class="button alt large icon solid fa-question-circle" id="bad" placeholder="Исключить" name="badWord">
  
  </div>
  <div>
    <button id="log" type="submit" class="btn btn-secondary btn-lg">Искать</button>
  </div>
</form>
