<form id="formWord" method="POST" action="/" class="container mt-3">
  <div class=" form-floating mb-3">
    <input type="text" class="form-control" id="good" placeholder="Введи слово" name="goodWord">
    <label for="word"  >Хорошее слово</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="bad" placeholder="Введи слово" name="badWord">
    <label for="bad">Плохое слово</label>
  </div>
  <div>
    <button id="log" type="submit" class="btn btn-secondary btn-lg">Искать</button>
  </div>
  {{!-- <div>
    {{#if news}}
    <div class="card" style="width: 18rem;">

    <span>{{news}}</span>
  </div>
{{/if}}
  </div> --}}
</form>
