{{!-- <div class="container"> --}}
  
<form id="formReg" method="post" action="/registration">
  <div class="mb-3">
    <label for="text" class="form-label">Имя пользователя</label>
    <input name="name" type="text" class="form-control" id="login" >

  </div>
    <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email адрес</label>
    <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
   
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Пароль</label>
    <input name="password" type="password" class="form-control" id="exampleInputPassword1">
  </div>
 
  <button id="buttonReg" type="submit" class="btn btn-primary">Регистрация</button>
</form>
{{!-- </div> --}}
