.container-css {
  display: flex;
  align-items: center;

  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.reg {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
 
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 50px;
}
